/out/main.bbl
/out/main.bcf
/out/main.blg
/out/main.synctex.gz
/out/main.synctex.gz(busy)
/auxil/
.gitignore
/out/main.out
/out/main.aux
/out/main.log
/out/main.run.xml
/out/main.toc
/out/main.synctex(busy)
